<div class="title">{{title}}</div>
<div class="description">{{description}}</div>


<div>
  <label for="name">ชื่อฮีโร่: </label>
  <input id="name" [(ngModel)]="hero" placeholder="ชื่อ">
  <button label="submit" (click)="btnclick()">ยืนยัน</button>
</div>



<button label="show/hide" (click)="btnSwicth()">{{titleHide}}</button>
<div *ngIf="_show">Content to render when condition is true.</div>


<button label="submit" (click)="btnDel()">ลบ</button>
<li *ngFor="let user of userList">
  <span>{{user}}</span>
</li>

<!-- ผลการคูณ -->
<div>
  <label for="number1">กรุณากรอกตัวเลข</label>
  <input id="number1" [(ngModel)]="number1" placeholder="number1">
  <input id="number2" [(ngModel)]="number2" placeholder="number2">
  <input id="number3" [(ngModel)]="number3" placeholder="number3">
  <button label="submit" (click)="btnSum()">ยืนยัน</button>
  <h1>{{result}}</h1>
</div>

